{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged out</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="register-container">
    <div class="container logged-out-container">
        <h2>You’ve been logged out</h2>
        <p class="logged">Thanks for using Checka! 👋</p>
        <a href="{% url 'login' %}" class="btn-solid">Log back in</a>
        <a href="{% url 'habit_list_create' %}" class="btn-solid">Go to habits</a>
    </div>
</body>

</html>