{% extends 'base.html' %}
{% block title %}My Records{% endblock %}
{% block content %}
<div class="container">
    <h1>My Records List</h1>

    <div class="habit-list">
        {% for habit in habits %}
        <div class="habit-card">
            <h3><u>{{ habit.name }}</u></h3>
            <p><i>{{ habit.description }}</i></p>

            <ul class="record-list">
                {% for record in habit.records.all %}
                <li>{% if record.completed %}Completed{% endif %} - {{ record.date }}</li>
                <p>Completed: {{ record.completed_count }}</p>
                {% if record.notes %}
                <h5>Notes:</h5>
                <p class="precord">{{ record.notes }}</p>
                <a href="{% url 'records_update' record.pk %}" class="btn-solid record">Edit</a>
                <a href="{{ record.pk }}/delete" class="btn-solid record">Delete</a>

                {% endif %}

                {% empty %}
                <li>No records yet.</li>
                {% endfor %}
            </ul>
            <a href="{% url 'habit_record' habit.pk %}" class="btn-solid">Add Record</a>



        </div>

        {% endfor %}
        <div class="gth-container">
            <a href="{% url 'habit_list_create' %}" class="btn-solid gth">Go to Habits</a>
        </div>
    </div>
</div>
{% endblock %}